.GroupsDisplay-Container {
  background-color: #fbfbfb;
  font-size: 1.8rem;
  padding: 40px 70px !important;
  text-align: center;
}

.GroupsDisplay-NameBox {
  background-color: #fff;
  border: 2px solid lightcoral;
  border-radius: 4px;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 18px 12px;
  text-align: center;
}
