.NamesInput-Container {
  margin: 0 auto;
  min-height: 120px;
  width: 70%;
}

.NamesInput-InputField, .NamesInput-Form {
  font-size: 1.6rem;
  width: 100%;
}

.NamesInput-Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.NamesInput-Form button {
  background-color: lightcoral;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  height: 34px;
  letter-spacing: 1px;
  margin-left: 20px;
  padding: 3px 7px;
  width: 80px;
}

.NamesInput-InputField {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  height: 30px;
  margin-bottom: 20px;
  padding: 3px 7px;
}

.NamesInput-Select {
  border-radius: 4px;
  font-size: 0.8rem;
  width: 200px;
}

.NamesInput-SecondRow {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
}
